.item-card {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
    background: #ffffff;
    border-radius: 16px;
    height: 350px;
    max-height: 350px;
    /* width: 270px; */
    /* max-width: 270px; */
    position: relative;
    margin: 20px 0px;
    
  }
  
  .item-card__container {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .item-card__img-section {
    /* width: 220px; */
    width: 100%;
    height: 168px;
    margin-bottom: 26px;
    flex: 1;
  }
  
  .item-card__img-section--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-card__details-section {
    width: 220px;
    max-width: 220px;
    height: 168px;
    max-height: 168px;
    flex: 1;
  }
  
  .item-card__details-section__title {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #15222f;
    display: block;
    margin-bottom: 10px;
    color: #15222f;
    opacity: 0.4;
  }
  
  .item-card__details-section__description {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: block;
    margin-bottom: 4px;
  }
  
  .item-card__details-section__weight {
    font-family: Barlow;
    font-size: 17px;
    line-height: 20px;
    display: block;
    color: #15222f;
    opacity: 0.4;
  }
  
  .item-card__details-section__price {
    font-family: Barlow;
    font-style: normal; 
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #15222f;
    opacity: 0.72;
    position: absolute;
    bottom: 24px;
  }
  
  .add-button {
    position: absolute;
    color: #ffffff;
    width: 99px;
    height: 40px;
    left: 155px;
    top: 300px;
    border: none;
    border-radius: 8px;
    display: none;
  }
  
  .item-card:hover .add-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }

  .cn-main-item-card{
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 4px;
  }

  .CN-brand-logo {
    height: 35px;
    width: 35px;
    margin-left: 0px;
    margin-right: 6px;
}

  
  @media screen and (max-width: 768px) {
    .item-card {
        margin: 0 auto;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
        margin-top: 20px ;
        margin-bottom: 20px;
  
    }
    .item-card__img-section--img {
        object-fit: cover !important;
    }
    .item-card__img-section {
        width: 100%;
     
    }
  
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .item-card {
        width: auto !important;
        margin: 0 auto;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
        margin-top: 20px ;
        margin-bottom: 20px;
  
    }
  
  }
  @media(max-width: 767px) {
    .item-card {
        width: auto !important;
        margin: 0 auto;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
        margin-top: 20px ;
        margin-bottom: 20px;
  
    }
  
  }
  @media(max-width: 1024px) {
    .item-card {
        width: auto !important;
        margin: 0 auto;
        box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
        margin-top: 20px ;
        margin-bottom: 20px;
  
    }
  
  }
  @media(max-width: 768px) {
    .item-card__details-section{
        width: 0px;
    }

    .CN-brand-logo {
        height: 25px;
        width: 25px;
        margin-left: 0px;
        margin-right: 6px;
    }
  
  }
  @media(min-width: 769px) and (max-width:991px) {
    .item-card{
        height: 269px;
    }
  
  }
  @media(max-width: 576px){
    .item-card{
            width: 270px !important; 
  
    }
  
  }