	.Cn-header__searchs {
			padding: 10px 5px;
			width: 100%;
			border: none;
			border-radius: 22px;
			box-shadow: 0px 6px 20px 0px hsl(0deg 0% 86%);
			outline: none;
	}

	.Cn-cat-input {
			outline: none;
			border-radius: 10px;
			border: none;
			background-color: white;
			box-shadow: 2px 4px 9px 0px #eaeaea;
			padding: 10px 15px;
	}

	.cn-center {
			display: flex;
			align-items: center;
	}

	.CN-mobile-header {
			background-color: white;
			padding: 15px 20px;
			box-shadow: 1px 1px 20px 2px #d5d5d5;
			margin-bottom: 10px;
			position: fixed;
			width: 100%;
			z-index: 9999999;
	}
	.Cn-search-icon{
			padding: 8px;
			background-color: white ;
			border-radius: 20px;
			height: 35px;
			width: 35px;
	}

	.Cn-sidebar-filter{
			box-shadow: 1px 0px 20px 0px #c6c6c6;
			background: white;
			position: fixed;
			height: 100vh;
			top: 62px;
			left: 0px;
			z-index: 999999;
	}
	.show{
			display: block !important;
	}
	.hide{
			display: none !important;
	}
	.CN-mobile-header{
			display: none;
	}
	.Cn-Close-icons{
			/* display: block !important; */
			height: 14px;
			width: 13px;
			position: absolute;
			z-index: 999999;
			top: 28px;
			right: 20px;
	}
	.Cn-filter{
			display: none;
		
	}


	.CN-desktop-menu{
		margin-bottom: 90px;
	}





	@media screen and (max-width: 768px) {
			.Cn-footer-logo{
					padding-left: 0px;
			}   
			.Cn-filter{
					display: flex;
					margin: 0px 10px;
					padding-top: 80px;
			}
			.CN-desktop-menu {
			display: none;
			}
			.CN-mobile-header{
					display: block;
			}
			.Cn-sidebar-filter{
					overflow: scroll !important;
					
			}
		}

		@media screen and (max-width: 320px) {
		
			.Cn-Close-icons{
					/* display: block !important; */
					height: 10px;
					width: 10px;
					position: absolute;
					z-index: 999999;
					top: 26px;
					right: 20px;
			}

		}
			

		@media(max-width: 991px) and (min-width:769px) {
			.Cn-header__searchs{
				position: absolute;
				top: 54% ;
				left: 8px ;
				width: 50% ;
			}
		.headers{
				height: 94px;
		}
		.form-control{
				position: absolute;
				top: 63%;
				width: 130px;
				right: 2%;
		}
		.Cn-header-language{
			padding: 0px;
		}
		.Cn-icon-sector{
			width: 58.333333%;
			padding: 0px;
			padding-left: 17px;
		}
		
		.Cn-person-icon{
			width: 8.3333%;
			margin-left: 10px;
		}
		}



		